body {
    background-color: #c89d59;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

div#menu {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: inherit;
    padding: 10px;
    text-align: center;
    border: 10px ridge black;
    border-radius: 20px;
}

div#chess_board {
    margin-left: auto;
    margin-right: auto;
    border: 10px double gray;
}

div#chess_board td {
    border: 0.5px solid black;
}

input#input_cell_width {
    background-color: inherit;
    color: inherit;
}

table#main_table {
    margin: auto;
    text-align: center;
    vertical-align: central;
    border: 10px ridge gray;
    background-image: url("/../images/marble.jpg");
    visibility: hidden;
}